<?xml version="1.0" encoding="UTF-8"?>
<!--suppress SpringFacetInspection -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--包扫描-->
    <context:component-scan base-package="com.example.study"></context:component-scan>

    <!--组件注册-->
    <bean id="user" class="com.example.study.facade.User" >
        <property name="age" value="17"></property>
        <property name="name" value="beans—name"></property>
    </bean>
</beans>